<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.knime.workbench.repository.categories">
           
		<category
	    	description="Image Processing and Mining Nodes from the University of Konstanz"
			level-id="master"
	        name="Master Thesis"
	        path="/">
	    </category>
    
    </extension>
   
   <extension point="org.knime.workbench.repository.nodesets">
        <nodeset 
        	expert-flag="false" 
        	factory-class="org.knime.knip.clump.nodes.ClumpSplittingNodeSetFactory" 
        	id="org.knime.knip.clumb.nodes.ClumbSplittingNodeSetFactory">
        </nodeset>
    </extension>
    
    <extension point="org.knime.workbench.repository.nodes">  
      	
		<node 
			category-path="/master" 
			expert-flag="false" 
			factory-class="org.knime.knip.clump.nodes.curvature.CurvatureNodeFactory" 
			id="org.knime.knip.clump.nodes.curvature.CurvatureNodeFactory">
		</node>
		
		<node 
			category-path="/master" 
			expert-flag="false" 
			factory-class="org.knime.knip.clump.nodes.ftcurvature.FTCurvatureNodeFactory" 
			id="org.knime.knip.clump.nodes.ftcurvature.FTCurvatureNodeFactory">
		</node>

	
		
	</extension>
   

</plugin>
